.login-con {
    background-color: rgb(172, 172, 172);
    padding: 40px 0px 10px 0px;
    width: 400px;
}

.login-title {
    height: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: center;
    justify-content: flex-end;
}

.login-title1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;

}

.login-title1>h2 {
    font-size: 30px;
}

.login-title1>p {
    width: 90%;
    color: rgb(140, 140, 140);
}

.login-btn {
    width: 100%;

}

.login-btn {
    width: 330px;
}